h1 {
    text-align: center;
}

p {
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Bowlby One SC', cursive;
    font-family: 'Shadows Into Light', cursive;
    text-shadow: 4px 4px 4px #aaa;
    font-size: 90px;
}